* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background: lightblue;
  }
  img {
    float: left;
    width: 200px;
    height: 138px;
    padding: 100px;
  }
  article {
  height: 185px;
  width: 400px;
}
p{
    padding: 10px;
  }
  
.cos {
    display: table;
  }
